@media (max-width:1199px) and (min-width: 790px) {
    .col-3 {
        width: 50%;
    }
    .blank {
        widows: 0;
    }
    .about_us_img,
    .about_us_img:before {
        display: none;
    }
    .about_us_text_left,
    .about_us_text_right {
        display: block;
        position: static;
        margin: 50px auto;
        width: 50%;
    }
    .about_us_text_left h2,
    .about_us_text_right h2,
    .about_us_text_left p,
    .about_us_text_right p {
        text-align: center;
    }
    .bottom {
        max-width: 50%;
        display: block;
        margin: 20px auto;
    }
    footer p {
        margin-left: 50px;
    }
}

@media (max-width: 789px) {
    .col-3 {
        width: 50%;
    }
    .logo {
        margin: 20px 0 0 0;
        font-size: 20px;
    }
    header ul li a {
        font-size: 10px;
        padding: 0 10px;
    }
    .text_header h1 {
        display: none;
    }
    .services h1,
    .portfolio h1,
    .about_us h1,
    .team h1,
    .contact_us h1 {
        font-size: 30px;
    }
    .blank {
        widows: 0;
    }
    .about_us_img,
    .about_us_img:before {
        display: none;
    }
    .about_us_text_left,
    .about_us_text_right {
        display: block;
        position: static;
        margin: 50px auto;
        width: 50%;
    }
    .about_us_text_left h2,
    .about_us_text_right h2,
    .about_us_text_left p,
    .about_us_text_right p {
        text-align: center;
    }
    .bottom {
        max-width: 50%;
        display: block;
        margin: 20px auto;
    }
    .person img {
        width: 200px;
        height: 200px;
    }
    .smallform,
    .bigform {
        padding: 0 20px;
    }
    footer p {
        margin-left: 50px;
        font-size: 10px;
    }
    footer ul li a i {
        font-size: 20px;
    }
}